!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title= title
    %link{rel: 'stylesheet', href: 'style.css'}
    - categories.each do |category|
      %link{href: "//dash_ref/Category/#{category.id.strip.gsub(/\//, '%2F')}/1"}
      - category.entries.each_with_index do |entry, index|
        %link{href: "//dash_ref_#{category.id.strip.gsub(/\//, '%2F')}/Entry/#{entry.tags_stripped_name.strip.gsub(/\//, '%2F')}/0"}
  %body
    %header
      %h1= title

    %article
      %p~ introduction

      - categories.each do |category|
        %section.category
          %h2{id:"//dash_ref/Category/#{category.id.strip.gsub(/\//, '%2F')}/1"}
            = category.id
          %table
            - category.entries.each_with_index do |entry, index|
              %tr{id: "//dash_ref_#{category.id.strip.gsub(/\//, '%2F')}/Entry/#{entry.tags_stripped_name.strip.gsub(/\//, '%2F')}/0"}
                - if entry.command
                  %td.command
                    - entry.command.each do |command|
                      %p
                        %code= command
                %td.description
                  .name~ entry.name
                  .notes~ entry.notes
      - if notes
        %section.notes
          %h2 Notes
          ~ notes
    %footer
      - if source_url
        You can modify and improve this cheatsheet <a href="#{source_url}">here</a>.
      - else
        Generated with <a href='https://github.com/Kapeli/cheatset#readme'>cheatset</a>.